
// counter up style song...


.counter-bg{
    background-image: url(../images/counterup/bg-01.jpg);
    height: 762px;
    background-size: cover;
    background-repeat: no-repeat;
}

.single-counter{
    display: flex;
    align-items: center;
    img{
        margin-right: 25px;
    }
    .counter-details{
        .title{
            color: #fff;
            margin-bottom: -2px;
            font-weight: 700;
            span{
                position: relative;
                &::after{
                    position: absolute;
                    right: -30px;
                    top: 50%;
                    transform: translateY(-50%);
                    content: '+';
                }
            }
            &.happy{
                span{
                    &::after{
                        content: 'k+';
                        right: -60px;
                    }
                }
            }
        }
        p{
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
}



.counter-wrapper-two{
    .single-counter{
        position: relative;
        img{
            margin-right: 0;
            position: absolute;
        }
        .counter-details{
            padding: 20px;
            box-shadow: 0px 2px 20px #18101012;
            width: 100%;
            padding: 40px 40px 40px 70px;
            margin-left: 60px;
            @media #{$smlg-device} {
                padding: 20px 15px 20px 50px;
            }
            @media #{$small-mobile} {
                padding: 30px 26px 30px 54px;
            }
            .title{
                color: #1C2539;
            }
            .disc{
                color: #1C2539;
            }
        }
    }
}
