

// call to action style hear


.cta-one-bg{
    background-image: url(../images/cta/01.jpg);
    background-repeat: no-repeat;
    background-color: #DF0A0A;
    background-blend-mode: multiply;
    overflow: hidden;
    background-position: center;
    object-fit: contain;
    background-size: cover;
}


.cta-one-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 120px;
    .cta-left{
        width: 50%;
    }
    .title{
        color: #fff;
        margin-bottom: 0;
        font-size: 40px;
    }
}

// cta for home three
.bg-call-to-action-two{
    background-image: url(../images/cta/02.jpg);
    background-repeat: no-repeat;
    background-color: var(--color-primary-3);
    background-blend-mode: multiply;
    background-position: center;
    object-fit: contain;
    background-size: cover;
    
}
.cta-two-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 0;
    .title-area{
        width: 70%;
        .title{
            text-transform: uppercase;
            color: #fff;
            margin-bottom: 0;
            font-weight: 700;
            font-size: 40px;
            line-height: 53px;
        }
    }
}
