// feature-area start


.rts-feature-area{
    position: relative;
    margin-top: -15%;
}

.feature-left-area{
    display: flex;
    justify-content: flex-end;
    padding-right: 83px;
    animation: jump-2 5s linear infinite;
}

.bg-white-feature{
    overflow: hidden;
    position: relative;
    z-index: 1;
    border-bottom: 5px solid var(--color-primary);
    padding:  0 150px;
    &::after{
        position: absolute;
        content: "";
        height: 763px;
        width: 763px;
        background-image: url(../images/feature/shape/01.png);
        left: -15%;
        top: -50%;
        z-index: -1;
        animation: rotateIt 20s linear infinite;
    }
}

.feature-one-wrapper{
    display: flex;
    flex-wrap: wrap ;
}

.single-feature-one{
    display: flex;
    align-items: center;
    padding: 12px 15px;
    background: #fff;
    border: 1px solid #EEEEEE;
    border-radius: 15px;
    max-width: max-content;
    margin-right: 25px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: .3s;
    &:hover{
        box-shadow: 0px 9px 18px #1810100d;
    }
    i{
        padding: 5px;
        background: var(--color-primary);
        border-radius: 50%;
        color: #fff;
        margin-right: 15px;
        font-size: 14px;
        line-height: 12px;
    }
    p{
        color: #1C2539;
        font-weight: 700;
    }
}