
// footer area style


.background-cta{
    background-image: url(../images/footer/callto-action.png);
    background-repeat: no-repeat;
    background-color: #DF0A0A;
    background-blend-mode: multiply;
    overflow: hidden;
    border-radius: 100px;
    background-position: center;
    object-fit: contain;
    background-size: cover;
}


.rts-cta-wrapper{
    .background-cta{
        .cta-left-wrapepr{
            margin-left: 80px;
            padding: 45px 0;
            p{
                margin-bottom: 0;
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 16px;
                font-family: var(--font-secondary);
            }
            .title{
                color: #fff;
                margin-bottom: 0;
            }
        }
        .cta-input-arae{
            padding: 60px 0;
            position: relative;
            input{
                background: #FFFFFF;
                border-radius: 100px;
                height: 55px;
                width: 547px;
                color: #000;
                padding: 0 186px 0 25px;
            }
            button{
                position: absolute;
                border-radius: 100px;
                max-width: max-content;
                right: 90px;
            }
        }
    }
}



// footer area....

.footer-one-single-wized{
    &.mid-bg{
        background: linear-gradient(180deg, #0E1422 -4.66%, #212631 100%);
        border-radius: 15px;
        padding: 40px;
        margin-top: -40px;
        margin: -40px 30px 0 30px;
        .opening-time-inner{
            .single-opening{
                display: flex;
                justify-content: space-between;
                p{
                    margin-bottom: 15px;
                    color: #fff;
                    font-family: var(--font-primary);
                }
            }
            .rts-btn{
                &.contact-us{
                    display: block;
                    max-width: max-content;
                }
            }
        }
    }
    .wized-title{
        margin-bottom: 25px;
        .title{
            color: #fff;
            margin-bottom: 10px;
        }
    }
    .quick-link-inner{
        display: flex;
        .links{
            list-style: none;
            padding-left: 0;
            margin: 0;
            li{
                margin-top: 0;
                a{
                    color: #8B8F99;
                    transition: var(--transition);
                    position: relative;
                    max-width: max-content;
                    &::after{
                        position: absolute;
                        content: '';
                        width: 0%;
                        height: 1px;
                        background: var(--color-primary);
                        left: 29px;
                        bottom: 0;
                        transition: .3s;
                    }
                    i{
                        margin-right: 12px;
                        transition: .3s;
                    }
                    &:hover{
                        color: var(--color-primary);
                        &::after{
                            position: absolute;
                            width: 76%;
                        }
                        i{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .post-wrapper{
        .single-footer-post{
            display: flex;
            align-items: flex-start;
            .left-thumbnail{
                margin-right: 20px;
                display: block;
                overflow: hidden;
                border-radius: 15px;
                img{
                    width: 130px;
                    height: auto;
                    transition: var(--transition);
                }
                &:hover{
                    img{
                        transform: scale(1.2);
                    }
                }
            }
        .post-right{
                p{
                    margin-bottom: 0;
                    color: #8B8F99;
                    font-size: 14px;
                    margin-top: -6px;
                }
                a{
                    .title{
                        color: #fff;
                        font-weight: 500;
                        font-size: 17px;
                        line-height: 21px;
                        margin-bottom: 0;
                        transition: var(--transition);
                    }
                    &:hover{
                        .title{
                            color: var(--color-primary);
                        }
                    }
                }
                a{
                    max-width: max-content;
                    padding-left: 0;
                    color: #DF0A0A;
                    display: flex;
                    align-items: center;
                    i{
                        margin-left: 6px;
                        margin-bottom: -4px;
                        position: relative;
                        transition: var(--transition);
                    }
                    &.red-more{
                        display: block;
                        max-width: max-content;
                        &:hover{
                            i{
                                margin-left: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}



// copyright one

.footer-one{
    .rts-copyright-area{
        border-top: 1px solid #21293D;
        padding: 30px 0;
        p{
            font-size: 16px;
            color: #fff;
        }
    }
}